{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro %}

{% block content %}


<div class="container-fluid">
    <div class="landing conatiner-fluid d-flex justify-content-center flex-column my-auto">
        <div class="col-md-4 border-1 text-danger display-4">
            {{ wtf.quick_form(subscribe) }}
        </div>


    </div>
    <div class="home">
        <h2>WHATS NEW</h2>
        <div class="blogs d-flex flex-wrap">
            {{ macro.displayBlogs(blogs) }}
        </div>
    </div>
</div>


{% endblock %}