{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container-fluid">
    <div class="container mt-4 blog blog-view">
        <h2 class="display-4"><u>{{blog.title| upper}}</u></h2>
        <p>{{ blog.blog }}</p>
        <p>{{ blog.posted }}</p>
    </div>
    <div class="container-fluid row d-flex justify-content-center mt-4">
        <div class="col-md-6 border-1">
            {{ wtf.quick_form(commentForm) }}

            {% for comment in comments %}
            <div class="card card-body border-0 mt-2">
                <p class="card-text">{{comment.comment}}</p>
                {%
                if
                current_user.is_authenticated
                %}
                <a href="/comment/delete/{{comment.id}}">Delete Comment</a>
                {%endif%}
                <div class="card-footer">{{comment.tagger}}</div>
            </div>
            {% endfor %}
        </div>
    </div>


    {% endblock %}